@model IEnumerable<SportsStore.Domain.Product>

@{
ViewData["Title"] = "Products";
}
<div class="row">
@foreach (var p in Model)
{
<div class="col-md-4 col-sm-6 mb-4">
<div class="card h-100 shadow-sm">
<img src="@p.ImageUrl" class="card-img-top p-3"
alt="@p.Name" style="height: 250px; object-fit: contain;">
<div class="card-body">
<h5 class="card-title">
@p.Name

<span class="badge bg-primary rounded-pill float-end">
@p.Price.ToString("c")
</span>
</h5>
<p class="card-text">@p.Description</p>
</div>
<div class="card-footer text-center">

<a asp-controller="Cart" asp-action="AddToCart" asp-
route-productId="@p.ProductID"

class="btn btn-success">
Add To Cart
</a>
</div>
</div>
</div>
}
</div>